<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
      <a class="navbar-brand" href="#">
        <img src={{banner}} width="30" height="30" class="d-inline-block align-top" alt="">
        CreditUp
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/retrieve">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/financialPlanning">Financial Planning</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Invoice</a>
          <ul class="dropdown-menu">
            <li><a href="/invoice">All Invoices</a></li>
            <li><a href="/createinvoice">Create Invoice</a></li>          
          </ul>
        </li>
        <li><a href="/creditJourney">Credit Journey</a></li>  
        <li><a href="nav-link" href="/account">Accounts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login#">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>