<!DOCTYPE html>
<html lang="en">
    <head>                        
        <title>CreditUp - Login Page</title>            
       <!-- META SECTION -->
       <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
       <link rel="icon" href="favicon.ico" type="image/x-icon">
       <!-- END META SECTION -->
    </head>
    <body>        
        
        <!-- APP WRAPPER -->
        <div class="app app-fh">

            <!-- START APP CONTAINER -->
            <div class="app-container" [style.background-image]="getBackground()" style="background: center center no-repeat fixed;">
                
                <div class="app-login-box">                                        
                    <div class="app-login-box-user"><img src="{{user}}"></div>
                    <div class="app-login-box-title">
                        <div class="title">Already a member?</div>
                        <div class="subtitle">Sign in to your account</div>                        
                    </div>
                    <div class="app-login-box-container">
                        <form action="index.html" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="login" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <button class="btn btn-success btn-block" onclick="location.href = 'https://127.0.0.1:3000/retrieve';">Sign In</button>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                    <div class="app-login-box-or">
                        <div class="or">OR</div>
                    </div>
                    <div class="app-login-box-container">
                        <button class="btn btn-facebook btn-block">Connect With Facebook</button>
                        <button class="btn btn-twitter btn-block">Connect With Twitter</button>
                    </div>
                    <div class="app-login-box-footer" >
                        <div style="display: transparent;">Start to build your Credit Journey wiht us today!</div>
                        <div style="color: transparent;">a</div>
                    </div>
                </div>
                                
            </div>
            <!-- END APP CONTAINER -->
           
        </div>        
        <!-- END APP WRAPPER -->                
    </body>
</html>






