<!-- <div class="container"> 
      <div class="col-sm-4">
      <nav class="navbar navbar-light" style="background-color: white;">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
               <li class="dropdown" appDropdown>
                            <a style="cursor: pointer;" class="dropdown-toggle" role="button">Select a Card</a>
                            <ul class="dropdown-menu"> 
                                <li *ngFor="let data of datalist; let i = index"><a style="cursor: pointer;" (click)="onSetCard(i)" [class.active]="i == selectedRow">{{data.productName}}</a></li>
                            </ul>
               </li>
            </ul>   
        </div>
      </nav>
      </div>
</div>
<div *ngFor="let data of datalist | slice:CardNumber:CardNumber+1" class="panel-body">   
    <div class="container"> 
        <div class="col-sm-6">
            <div> <h4>{{ data.productName }} </h4></div>
            <div>
                <img src="{{imageroute}}{{data.productName}}{{'.jpg'}}" width="229" height="144">
            </div>
        </div>
    </div>   
      <p></p>
    <div class="row">
        <div class="col-sm-4">
          <div class="card card-outline-primary text-center">
            <div class="card-block">
              <h4 class="card-title">Remaining Statement Balance</h4>
              <h3 class="card-text"> {{ data.outstandingBalance | currency:'USD':true }} </h3>
              <h4 class="card-title">Available Credit</h4>
              <p class="card-text"> {{ data.availableCredit | currency:'USD':true }} </p>   
              <h4 class="card-title">Account ID</h4>
              <p class="card-text"> {{ data.accountId }} </p>   
              <button type="button" class="btn btn-primary">Card Activity</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card card-outline-primary text-center">
            <div class="card-block">
              <h4 class="card-title">Payment required at this time</h4>
              <h3 class="card-text"> {{ data.minimumDueAmount | currency:'USD':true}} </h3>
              <h4 class="card-title">Payment Due Date</h4>
              <p class="card-text"> {{ data.paymentDueDate }} </p>    
              <h4 class="card-title">Account Status</h4>
              <p class="card-text"> {{ data.accountStatus }} </p>    
              <a routerLink="/payments" class="btn btn-primary">Make Payment</a>
            </div>
          </div>
         </div> 
         <div class="col-sm-4">
          <div class="card card-outline-success text-center">
            <div class="card-block">
              <h4 class="card-title">Membership reward points</h4>
              <h3 class="card-text"> {{ data.rewardPoints | number:0 }} </h3>
              <h4 class="card-title">Suggested for You</h4>
              <p class="card-text">The Summer Sale is On!</p>  
              <h4 class="card-title">10% Off $50 Gift Cards</h4>       
              <p class="card-text">See where you can go with points!!!</p>         
              <a href="https://www.thankyou.com/cms/thankyou" class="btn btn-success">Explore Rewards</a>
            </div>
          </div>
        </div> 
    </div>
</div> -->

<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <!-- <div class="fill" style="background-image:url('https://www.flickr.com/photos/139891596@N08/28839301127/in/dateposted-public/" title="19001080');"></div> -->
            <img src="https://farm1.staticflickr.com/936/28839301127_8c3d8bba31.jpg" width="1900" height="800" alt="19001080">  alt="Visa">
            <div class="carousel-caption">
                <h2>Invoicing Tool</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>